.full-width-table {
  width: 100%;
}

.fixed-bottom-right {
  position: fixed !important;
  @media(min-width:768px){
    bottom: 24px;
    right: 32px;
  }
  @media(max-width:767px){
    bottom: 20px;
    right: 30px;
  }
}